* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: linear-gradient(#100c24, #211c3b);
    color: #fff;
}
.navbar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: transparent;
}
.navbar a {
    color: white;
    font-weight: 400;
}
.navbar a:hover {
    color: white;
    font-weight: 900;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
#accordion {
    margin-top: 50px;
    padding: 0 5%;
}
.card {
    border: 1px solid #fff;
}
.card-body {
    color: #fff;
    background: #211c3b;
}
.card-header {
    background: #100c24;
}
.card-header a {
    color: #fff;
}
.container {
    margin-top: 30px;
}
.modal-header {
    color: #100c24;
}
.modal-body img {
    width: 100%;
    height: auto;
}